Randomization inference is probably the way we want to go in order to handle very skewed distributions of continuous metrics.  We need to be able to supply the following functionality:

1. Generic randomization inference for any scalar test statistic

2. A selection of pre-built test statistics along with documentation about what they mean and when you might want to use them

3. A method for doing hypothetical assignment, or supplying your own function (we may want to scale this up at some point to have some pre-built functions). We'll focus on binary assignment for now (i.e. only two variants), and we'll work to generalize this later.

4. Power analysis. This is relatively easy, but we need a way to do run time estimations as well

In [3]:
import os
import sys
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy 

from matplotlib import style
from tqdm.auto import tqdm

In [4]:
# Set pandas preferences
pd.options.display.max_columns=500
pd.options.display.max_colwidth=500
pd.options.display.max_rows=500

In [5]:
# Set plot style
style.use("fivethirtyeight")

In [6]:
# Initialize tqdm for pandas
tqdm.pandas()

In [7]:
# Example dataset: from https://www.franciscoyira.com/post/randomization-inference-causal-mixtape/

In [8]:
name_list = ['Andy', 'Ben', 'Chad', 'Daniel', 'Edith', 'Frank', 'George', 'Hank']
d_list = [1,1,1,1,0,0,0,0]
y_list = [10,5,16,3,5,7,8,10]
y0_list = [np.nan, np.nan, np.nan, np.nan, 5, 7, 8, 10]
y1_list = [10,5,16,3,np.nan,np.nan,np.nan,np.nan]
id_unit_list = [1,2,3,4,5,6,7,8]

In [9]:
df = pd.DataFrame()
df['name'] = name_list
df['d'] = d_list
df['y'] = y_list
df['y0'] = y0_list
df['y1'] = y1_list
df['id_unit'] = id_unit_list

In [10]:
df

     name  d   y    y0    y1  id_unit
0    Andy  1  10   NaN  10.0        1
1     Ben  1   5   NaN   5.0        2
2    Chad  1  16   NaN  16.0        3
3  Daniel  1   3   NaN   3.0        4
4   Edith  0   5   5.0   NaN        5
5   Frank  0   7   7.0   NaN        6
6  George  0   8   8.0   NaN        7
7    Hank  0  10  10.0   NaN        8

In [ ]:
ri_test_statistic_difference_in_means(df, outcome_col, treatment_col):
    
    sdo = df.query()

In [ ]:
class RandomizationInference:
    
    def __init__(self, df, sharp_null, test_statistic, outcome_column_name='y', treatment_column_name='d', treatment_name=1, control_name=0, num_permutations=1000):
        self.df = df
        self.sharp_null = sharp_null
        self.test_statistic = test_statistic
        self.outcome_column_name = outcome_column_name
        self.treatment_column_name = treatment_column_name
        self.treatment_name = treatment_name
        self.control_na
        self.num_permutations = num_permutations