We need a way to calculate the sample size of an experiment via ri.  We can compare against a t-test for testing?

In [1]:
import os
import sys
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy 

from matplotlib import style
from tqdm.auto import tqdm

In [2]:
# Additional imports 
from functools import partial
import math
import itertools
from time import gmtime, strftime

In [10]:
sys.path.append('../../ab_testing_utils/')

In [11]:
import skewed_metric_utils

In [3]:
# Set pandas preferences
pd.options.display.max_columns=500
pd.options.display.max_colwidth=500
pd.options.display.max_rows=500

In [4]:
# Set plot style
style.use("fivethirtyeight")

In [5]:
# Initialize tqdm for pandas
tqdm.pandas()

In [6]:
df = pd.read_csv('../../../data/test_data_for_ri.csv')

In [8]:
df

     name  d   y    y0    y1  id_unit
0    Andy  1  10   NaN  10.0        1
1     Ben  1   5   NaN   5.0        2
2    Chad  1  16   NaN  16.0        3
3  Daniel  1   3   NaN   3.0        4
4   Edith  0   5   5.0   NaN        5
5   Frank  0   7   7.0   NaN        6
6  George  0   8   8.0   NaN        7
7    Hank  0  10  10.0   NaN        8